MainWindow {
    background: #f9f9f9;
}

QListWidget {
    font-weight: bold;
    color: #333333;
}

QListWidgetItem {
    margin: 100px;
    direction: rtl;
    text-align: right;
}

QTextBrowser {
    background: #eee;
}
